* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: arial, helvetica, sans-serif;
}
h1 {
	text-align: center;
	font-size: 175%;
	margin: 30px;
}
section > div {
	background-color: #BEBEBE;
}
.sec1 p.title {
	background-color: #66FF66;
}
.sec2 p.title {
	background-color: #FF3366;
}
.sec3 p.title {
	background-color: #0099CC;
}

@media (min-width: 992px) {
	section {
		width: 33.33%;
		float: left;
	}
	section > div {
		border: 1px solid;
		margin: 10px;
		position: relative;
	}
	section.sec1 > div {
		margin-left: 20px;
		margin-right: 0px;
	}
	section.sec2 > div {
		margin-left: 10px;
		margin-right: 10px
	}
	section.sec3 > div {
		margin-left: 0px;
		margin-right: 20px
	}
	p.title {
		position: absolute;
		top: 0px;
		right: 0px;
		border-bottom: 1px solid;
		border-left: 1px solid;
		padding: 5px 30px 5px 30px;
		font-size: 125%;
	}
	p.text {
		padding: 40px 5px 5px 5px;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	section.sec1, section.sec2 {
		width: 50%;
		float: left;
	}
	section.sec3 {
		width: 100%;
		clear: both;
	}
	section > div {
		border: 1px solid;
		margin: 10px;
		position: relative;
	}
	section.sec1 > div {
		margin-left: 20px;
		margin-right: 5px;
	}
	section.sec2 > div {
		margin-left: 5px;
		margin-right: 20px
	}
	section.sec3 > div {
		margin-left: 20px;
		margin-right: 20px
	}
	p.title {
		position: absolute;
		top: 0px;
		right: 0px;
		border-bottom: 1px solid;
		border-left: 1px solid;
		padding: 5px 30px 5px 30px;
		font-size: 125%;
	}
	p.text {
		padding: 40px 5px 5px 5px;
	}
}


@media (max-width: 767px) {
	section {
		width: 100%;
		float: left;
	}
	section > div {
		border: 1px solid;
		margin: 5px 25px 5px 25px;
		position: relative;
	}
	p.title {
		position: absolute;
		top: 0px;
		right: 0px;
		border-bottom: 1px solid;
		border-left: 1px solid;
		padding: 5px 30px 5px 30px;
		font-size: 125%;
	}
	p.text {
		padding: 40px 5px 5px 5px;
	}
}