
/* .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}*/
html, body {
	height: 100%;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	/*word-break: break-word;*/
}

/* Navigation Bar */S
.navbar {
	padding: 0rem;
}

.navbar-brand {
	padding-left: 5%;
}
.navbar-nav li {
	padding-right: 2rem;
}

a.nav-link {
	font-size: 1.2rem !important;
}

/*.container-fluid {
	padding: 0;
}

*/




/* Carousel images */
.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 300%;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px #000;
}

.carousel-caption h3 {
	font-size: 150%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 0.5rem;
}



/* Jumbo Text */
#main-jumbotron .row {
	margin-bottom: 0;
}
.jumbotron {
	padding: 1rem;
	border-radius: 0;
}
.padding {    
	padding: 2rem;
}


/* Latest Post */
div#latest-posts {
	padding-bottom: 0;
}

#latest-posts hr {
	width: 99%;
	border: 1px solid;
	margin-top: -0.5rem;
}
#latest-posts-carousel .row {
	padding-bottom: 0;
}

i.fa-angle-right, i.fa-angle-left {
	color: #0275d8;
	font-size: 2.5rem;
	margin-top: 0.5rem;
}

i.fa-angle-right {
	margin-right: -20px;
}
i.fa-angle-left {
	margin-left: -20px;
}




/* Welcome Categories */

#welcome hr {
	border-top: 1px solid;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
	width: 75%;
}
#welcome div.row {
	padding-top: 0;
	padding-bottom: 0;
}

.fa-atom {
	color: #6666FF;
}

.fa-robot {
	color: #F7347A;
}

.fa-code {
	color: #018B23;
}

.fa-dna {
	color: #407294;
}

.fa-atom, .fa-robot, .fa-code, .fa-dna {
	font-size: 4rem;
	margin: 1rem;
}

/* Projects */


/* Fun Animoji */
button.fun {
	width: 99%;
	margin-bottom: 2rem;
}
.gif {
	max-width: 100%;
}



/* Connect Footer Social */
.social a{
	font-size: 2.5rem;
	padding: 1.5rem;
}
.fa-facebook {
	color: #3b599a;
}
.fa-youtube {
	color: #FF0000;
}
.fa-instagram {
	color: #517fa4;
}

.fa-facebook:hover, 
.fa-youtube:hover, 
.fa-instagram:hover {
	color: #d5d5d5;
}

footer {
	background-color: #525252;
	color: #ffffff;
	padding-top: 2rem;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width: 85%;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}





[class*="col-"] {
    padding: 1rem;
}












/*---Media Queries --*/
@media (max-width: 992px) {

}





@media (max-width: 768px) {

.navbar button.navbar-toggler {
	border: 2px solid black;
	margin-right: 5%;
}


ul.navbar-nav li{
	text-align: center;
	padding: 0;
}





.carousel-caption {
	top: 45%;
}

.carousel-caption h1 {
	font-size: 225%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
	font-size: 150%;
	font-weight: 400;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 0.2rem;
}

.carousel-caption .btn {
	font-size: 95%;
}

.display-5 {   /* category */
	font-size: 150%;
}


}




@media (max-width: 576px) {
  

.carousel-caption {
	top: 40%;
}

.carousel-caption h1 {
	font-size: 150%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
	font-size: 110%;
	font-weight: 300;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 0.1rem;
}
.carousel-caption .btn {
	font-size: 85%;
}

.display-5 { 
	font-size: 125%;
}


}



















/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


